.eunit
deps
*.o
*.beam
*.plt
*dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk/
data/
emqx_{{.PluginName}}.d
.DS_Store
erlang.mk
_build/
rebar.lock
test/ct.cover.spec
.rebar3
/.idea/
dist/